@font-face {
  font-family: poppins;
  src: url(./font/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-semibold;
  src: url(./font/Poppins-SemiBold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: #414b3b;
}

.bannerprincipal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background-image: url("../multimedia/img/bannerbici.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

@media (max-width: 1020px) {
  .bannerprincipal {
    display: none;
  }
}
.navegador {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.navegador ul {
  list-style: none;
  display: flex;
  margin-top: 60px;
  align-items: center;
  margin-right: 15px;
}
.navegador ul a {
  color: #ab8742;
  text-decoration: none;
  padding: 20px;
  font-family: poppins-semibold;
}
.navegador ul a:hover {
  color: #414b3b;
  text-decoration: none;
  padding: 20px;
  font-family: poppins-semibold;
}

.navegador .fa-bars {
  display: none;
}

@media (max-width: 1020px) {
  .navegador {
    background-color: #ab8742;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navegador .fa-bars {
    display: block;
    margin: 45px;
    font-size: 60px;
    color: #414b3b;
  }
  .navegador .fa-bars:hover + ul {
    left: 0;
  }
  .navegador ul {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #fff9f3;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    padding-top: 100px;
  }
  .navegador ul:hover {
    left: 0;
  }
  .navegador ul a {
    color: #ab8742;
  }
  ul li {
    margin-bottom: 50px;
  }
}
@media (max-width: 510px) {
  .navegador .fa-bars {
    font-size: 40px;
  }
}
.logo {
  height: 140px;
  object-fit: cover;
  margin: 30px 0px;
}

@media (max-width: 510px) {
  .logo {
    height: 80px;
  }
}
.navegador2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #ab8742;
}
.navegador2 ul {
  list-style: none;
  display: flex;
  margin-top: 60px;
  align-items: center;
  margin-right: 15px;
}
.navegador2 ul a {
  color: #414b3b;
  text-decoration: none;
  padding: 20px;
  font-family: poppins-semibold;
}
.navegador2 ul a:hover {
  color: #fff9f3;
  font-size: poppins-semibold;
  text-decoration: none;
  padding: 20px;
}
.navegador2 ul .boton a {
  color: #ab8742;
  text-decoration: none;
}
.navegador2 ul .boton a:hover {
  color: #fff9f3;
  text-decoration: none;
}

.navegador2 .fa-bars {
  display: none;
}

@media (max-width: 1020px) {
  .navegador2 {
    background-color: #ab8742;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navegador2 .fa-bars {
    display: block;
    margin: 45px;
    font-size: 60px;
    color: #414b3b;
  }
  .navegador2 .fa-bars:hover + ul {
    left: 0;
  }
  .navegador2 ul {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #fff9f3;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding-top: 100px;
  }
  .navegador2 ul:hover {
    left: 0;
  }
  .navegador2 ul a {
    color: #ab8742;
  }
}
@media (max-width: 510px) {
  .navegador2 .fa-bars {
    font-size: 40px;
  }
}
.encabezado {
  width: 100%;
  height: 700px;
  background-size: cover;
}

@media (max-width: 1020px) {
  .encabezado {
    display: none;
  }
}
.logogrande {
  float: right;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1020px) {
  .logogrande {
    display: none;
  }
}
h1 {
  font-size: 36px;
  color: #fff9f3;
  font-family: poppins-semibold;
  text-align: center;
  margin-top: 60px;
}

h2 {
  font-size: 36px;
  color: #fff9f3;
  font-family: poppins-semibold;
  text-align: center;
  margin-top: 60px;
}

.noticias-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
}
.noticias-container .noticias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #fff9f3;
  width: 400px;
  border: 1px solid #414b3b;
  margin: 20px;
  padding: 10px;
  border-radius: 6px;
  font-family: poppins;
  margin-right: 20px;
  transition: transform 0.3s ease;
}
.noticias-container .noticias:hover {
  transform: scale(1.1);
}
.noticias-container .noticias img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.noticias-container .noticias h4 {
  font-size: 22px;
  color: #414b3b;
  text-align: center;
  font-family: poppins-semibold;
}

p {
  color: #414b3b;
  text-align: center;
}

.layout {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}
.layout .evento-destacado {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff9f3;
  margin: 10px;
  padding: 10px;
  border-radius: 0px 0px 25px 25px;
  font-family: poppins;
}
.layout .evento-destacado img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin-bottom: 40px;
}
.layout .calendario-eventos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: poppins;
}
.layout .calendario-eventos .mes {
  font-size: 38px;
  color: #fff9f3;
}
.layout .calendario-eventos .mes .boton {
  background-color: #ab8742;
  /*width: calc((600px - 20px) / 3); esto le da forma perfecta al boton*/
}

.boton {
  background-color: #414b3b;
  color: #fff9f3;
  padding: 10px 25px;
  margin: 5px;
  border: none;
  border-radius: 6px;
  font-family: poppins-semibold;
}
.boton:hover {
  background-color: #ab8742;
  color: #414b3b;
  font-family: poppins-semibold;
}

.nosotros {
  display: flex;
  justify-content: center;
  margin: 100px;
}
.nosotros p {
  align-items: center;
  width: 1200px;
  color: #fff9f3;
  font-family: poppins;
}

.whatsapp {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ab8742;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  box-shadow: 5px 5px 15px 5px #414b3b;
}
.whatsapp i {
  font-size: 48px;
  color: #414b3b;
}

.redes {
  background-color: #ab8742;
  color: #414b3b;
  height: 150px;
  text-align: center;
  font-size: 48px;
  padding: 50px;
}
.redes a i {
  font-size: 48px;
  color: #414b3b;
}
.redes a i:hover {
  background-color: #414b3b;
  color: #ab8742;
}

.mensajefooter {
  color: #fff9f3;
  height: 72px;
  text-align: center;
  padding: 21px;
  font-family: poppins-semibold;
}

.galeria {
  display: grid;
  margin: 60px;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "vertical1 verticala horizontal1 horizontal1" "vertical1 vertical2 medio1 medio2" "vertiucalb vertical2 horizontal2 horizontal2";
}
.galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  transition: transform 0.3s ease;
}
.galeria img:hover {
  transform: scale(1.1);
}

.vertical1 {
  grid-area: vertical1;
}

.vertical2 {
  grid-area: vertical2;
}

.verticala {
  grid-area: verticala;
}

.vertiucalb {
  grid-area: vertiucalb;
}

.horizontal1 {
  grid-area: horizontal1;
}

.horizontal2 {
  grid-area: horizontal2;
}

.medio1 {
  grid-area: medio1;
}

.medio2 {
  grid-area: medio2;
}

.grupos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin: 50px 0px;
}
.grupos .grupo {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: transform 0.3s ease;
}
.grupos .grupo:hover {
  transform: scale(1.3);
}
.grupos .grupo .img-grupo {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grupos .grupo img {
  height: 200px;
  width: 200px;
}
.grupos .grupo .nombre-grupo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-family: poppins-semibold;
}
.grupos .grupo .nombre-grupo h4 {
  color: #fff9f3;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 30px;
}
.grupos .grupo .nombre-grupo p {
  color: #fff9f3;
}

@media (max-width: 768px) {
  .grupos {
    gap: 30px;
    margin: 30px 0;
  }
  .grupos .grupo {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .grupos .grupo:hover {
    display: none;
  }
  .grupos .grupo .img-grupo img {
    height: 150px;
    width: 150px;
  }
  .grupos .grupo .nombre-grupo {
    padding: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
