.layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    margin-bottom: 40px;
    .evento-destacado{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff9f3;
        margin: 10px;
        padding: 10px;
        border-radius: 0px 0px 25px 25px;
        font-family: poppins;
        img{
            width: 100%;
            height: 250px;
            object-fit: cover;
            margin-bottom: 40px;
        }
    }
    .layout2 {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        font-family: poppins;
        margin-top: 50px;
        margin-bottom: 50px;
        .mes{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 38px;
            color: #fff9f3;
            .boton{
                background-color: #ab8742;
                width: calc((600px - 20px) / 3)
            }
        }
      }
    @media(max-width:710px){
        .layout2{
            display: none;
        }
    }
    @media(max-width:710px){
        .layout2{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            font-family: poppins;
            .mes{
                font-size: 38px;
                color: #fff9f3;
                .boton{
                    background-color: #ab8742;
                    width: calc((600px - 20px) / 3); /*esto le da forma perfecta al boton*/
                }
            }
            
        }
    }
  }
