.layout {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    .evento-destacado{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff9f3;
        margin: 10px;
        padding: 10px;
        border-radius: 0px 0px 25px 25px;
        font-family: poppins;
        img{
            width: 100%;
            height: 250px;
            object-fit: cover;
            margin-bottom: 40px;
        }
    }
    .calendario-eventos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-family: poppins;
        .mes{
            font-size: 38px;
            color: #fff9f3;
            .boton{
                background-color: #ab8742;
                /*width: calc((600px - 20px) / 3); esto le da forma perfecta al boton*/
            }
        }
        
    }
  }
