.layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    margin-right: 20px;
    .grow1{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        img{
            width: 100%;
            height: 400px;
            object-fit: cover;
            border-radius: 15px 0px 0px 15px;
            justify-self: center;
            align-self: center;
        }
        .img2{
            border-radius: 0px 15px 15px 0px;
        }
        p{
            color: #fff9f3;
            font-family: poppins;
            font-size: 30px;
            justify-self: center;
            align-self: center;     
        }
    }
    @media(max-width:1290px){
        .grow1{
            display: none;
        }
    }
    @media(max-width: 1290px){
        .grow1{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            img{
                border-radius: 5px;
            }
            .img2{
                border-radius: 5px;
            }
        }
    }
    @media(max-width:510px){
        .grow1{
            p{
                font-size: 20px;
            }
            .img2{
                order: -1;
            }
        }
  }
  }